.carousel {
  grid-area: carousel;

}


.wrapper {
  grid-template-areas:
    "carousel";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "carousel";
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
    "carousel";
  }
}
