.carousel {
  grid-area: carousel;
}

.home {
  grid-template-areas:
    'carousel'
    'latest';
}
@media (min-width: 500px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas:
    'carousel'
    'latest';
  }
}
@media (min-width: 700px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-areas:
    'carousel'
    'latest';
  }
}
