.player {
  grid-area: player;
}
.playlist {
  grid-area: playlist;
}
.title {
  grid-area: title;
}
.wrapper {
  grid-template-areas:
    "player"
    "title"
    "playlist";
}
@media (min-width: 500px) {
  .player {
    min-height: 450px;
    max-height: 450px;
  }
  .playlist {
    min-height: 450px;
    max-height: 450px;
  }
  .wrapper {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "player   playlist"
    "title    title";
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "player   playlist"
    "title    title";
   }
}
