* {box-sizing: border-box;}
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0px;
}
.wrapper > * {
  padding: 0px;
}
.wrapperD > * {
  border: solid;
  border-width: thin;
}
