.playerz {
  grid-area: player;
}
.playlist {
  grid-area: playlist;
}
.title {
  grid-area: title;
}
.watch {
  grid-template-columns: 1fr;
  grid-template-areas:
    "player"
    "title"
    "playlist";
}
@media (min-width: 768px) {
  .playlist {
    height: calc( 80vw * 0.5625 );
    overflow-x: auto;
    border: solid;
    border-color: grey;
    border-width: thin;
  }
  .watch {
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "player   playlist"
    "title    title";
  }
}
@media (min-width: 1024px) {
  .playlist {
    height: calc( 1024px * 0.8 * 0.5625 );
    overflow-x: auto;
  }
  .watch {
    grid-template-columns: 4fr 1fr;
  }
}
